<ion-header>

    <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="end">
    <ion-button routerLink="/profile">
    <ion-icon slot="icon-only" name="person"></ion-icon>
    </ion-button>
    </ion-buttons>
    </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-button expand="block" color="primary" routerLink="/pages/tracker-create">
      Add a new Letter
      </ion-button>
      <ion-button expand="block" color="primary" routerLink="/pages/tracker-list">
      See your Letters
      </ion-button>
      </ion-content>
<ion-tabs>
    <button ion-button  (click)="logout()">Logout</button>
    <ion-tab-bar slot="bottom" color=primary>
      <ion-tab-button tab="Home">
        <ion-icon ios="ios-home" md="md-home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="Tracker">
        <ion-icon ios="ios-paw" md="md-paw" ></ion-icon>
        <ion-label>Tracker</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="Finder">
        <ion-icon ios="ios-paper-plane" md="md-paper-plane"></ion-icon>
        <ion-label>Finder</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="About">
        <ion-icon ios="ios-help-circle" md="md-help-circle"></ion-icon>
        <ion-label>About</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
    
  </ion-tabs>